{% extends 'insta/base.html' %}
{% load static %}
<body>

    </h1>

    <div class="topnav">
        {% if user.is_authenticated %}
        <a href="#">Hi {{user.username}}</a>
        <a href="accounts/logout">Logout</a>
        <a href="user_detail">Create Profile</a>
        {% else %}
        <a href="accounts/register">Register</a>
        <a href="accounts/login">Login</a>
        {% endif %}
    </div>
    <p>
        {% for item in items %}

        <img src="{{item.img.url}}" alt="Image" class="img-fluid">
        <h2 class="font-size-regular"><a href="#">{{item.user_name}}</a></h2>
        <h3>{{items.user}}</h3>
        {% if user.is_authenticated %}
        <p>{{ item.description }}</p>
        {% else %}
        <p>Register/Login to know more</p>
        {% endif %}


        {% endfor %}

    </p>
    </div>
</body>